<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/lib/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../public/style/style.css">
    <title>Document</title>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <form>
                <label for="Name">Name</label>
                <input type="text" maxlength="18" minlength="5" required>
            </form>
            <form>
                <label for="Age">Age</label>
                <input type="number" max="60" minlength="6" required>
            </form>
            <form>
                <label for="Age">Age</label>
                <input type="text" max="60" minlength="6" required>
            </form>
            
        </div>
    </div>
</body>
</html>