<% let ex = 5<%>
<table class="table table-success table-striped">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    <tr>
      <td><%=ex%></td>
      <td>Tahmid</td>
      <td>9</td>
      <td>tm.ahad.bd@gmail.com</td>
    </tr>
</table>